alumnos.php
html/admin/inicio.php
materias.php
registrarProfesor.php
confirmar.php
html/alumno/inicio.php
registros.php
resultadosExamen.php
solicitudes.php
navbarAlumno.php
navbarAdmin.php
verificar_sesion_profesor.php
js/admin/alumnos.js
editarAlumno.js
profesores.js
js/profesor/alumnos.js
solicitudes.js
registro.js
confirmar.js
popper.min.js
iro@5.js
dataTables.responsive.min.js
pruebas.js
resultadosExamen.js
sweetalert2.all.min.js
editarAlumno.php
editarMateria.php
examen.php
validar_registrar.php
alumnos.php

